<h1>Admin Dashboard</h1>

<!-- Form to grant admin status by email -->
<%= form_with url: grant_admin_users_path, method: :put, local: true do |f| %>
  <%= f.label :email, "Grant Admin Status to:" %>
  <%= f.text_field :email %>
  <%= f.submit "Add Admin" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.isAdmin? ? "Yes" : "No" %></td>
        <td>
          <% unless user.isAdmin? %>
            <%= link_to "Grant Admin", grant_admin_user_path(user), method: :put %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Admin Check-In", admin_checkin_path %>