<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #f1efee;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; 
    }

    .container {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      margin: 20px;
      width: 80%; /* Adjust width as needed */
      max-width: 600px; 
    }

    h1 {
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
    }

    input[type="text"],
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .btn {
      background-color: green;
      color: white;
      padding: 10px 20px;
      border: none;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      display: block; 
      margin: 0 auto; 
    }

    .back-link {
      background-color: #5a9bec;
      color: white;
      padding: 10px 15px; /* Padding inside the buttons */
      border-radius: 5px; /* Rounded corners for buttons */
      text-decoration: none; /* Remove underline from links */
      display: inline-block; /* Align buttons side by side */
      margin-top: 20px; 
      text-align: center;
      cursor: pointer;
      display: block; 
      
    }

  
  </style>
</head>
<body>
  <div class="container">
    <h1>Admin User Check-In</h1>

    <%= form_with url: admin_checkin_path, method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.label :first_name, 'First Name' %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, 'Last Name' %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :event_id, 'Select Event' %>
        <%= f.collection_select :event_id, Event.all, :id, :name, { prompt: 'Select an Event' }, { class: 'form-control' } %>
      </div>

      <%= f.submit 'Check-In', class: 'btn btn-primary' %>
    <% end %>
    <div class="back-link">
      <%= link_to "Back to Admin Dashboard", admin_dashboard_path %>
    </div>
  </div>
</body>
</html>
