<h1>Admin Check-In</h1>

<%= form_for :admin_checkin, url: admin_checkin_users_path do |f| %>
    <div class="form-group">
      <%= f.label :user_id, 'Select User' %>
      <%= f.collection_select :user_id, User.all, :id, :name, prompt: 'Select a User' %>
    </div>
  
    <div class="form-group">
      <%= f.label :event_id, 'Select Event' %>
      <%= f.collection_select :event_id, Event.all, :id, :name, prompt: 'Select an Event' %>
    </div>
  
    <%= f.submit 'Check-In', class: 'btn btn-primary' %>
  <% end %>