
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= asset_path('events_attended.css') %>">
    <link rel="stylesheet" type="text/css" href="<%= asset_path('user_dash.css') %>">
    <link rel="stylesheet" type="text/css" href="<%= asset_path('flash_alert.css') %>">
    <title>Events Attended</title>
  </head>
  <body>
  <% if flash[:alert].present? %>
  <div class="alert alert-alert">
      <%= flash[:alert] %>
  </div>
<% end %>
    <header>
      <div class="container">

          <img src="<%= asset_path('IMG_6562.png') %>" alt="logo" class="logo">

          <nav>
              <ul>
                <li><a href="<%= user_dashboard_path %>">Home</a></li>
                  <li><a href="<%= upcoming_events_path %>">Upcoming Events</a></li>
                  <li><a href="<%= user_checkin_path %>">Check In</a></li>
                  <li class="logout-button"><a href="<%= logout_path %>">Log Out</a></li>
              </ul>
          </nav>

      </div>
    </header>
    <div class="container_events">
      <div class="split-container">
        <div class="list-container">
          <h2>Events Attended by <%= current_user_name %></h2>
          <ul class="events-list">
            <% if @attended_events.present? %>
              <% @attended_events.each do |event| %>
                <%= link_to event_path(event) do %>
                  <li>
                    <%= event.name %>
                  </li>
                <% end %>
              <% end %>
            <% else %>
              <li>No attended events found.</li>
            <% end %>
          </ul>
        </div>
        <div class="simple-calendar-container">
          <%= month_calendar do |date| %>
            <%= date %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>


