<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            background-color: #f1efee;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        header {
          width: 100vw; 
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px;
          position: relative; 
      }

        h1 {
          color: #333;
          text-align: center;
          font-weight: bold;
          color: black;
      }

      .logout-button {
        background-color: #f44336;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 40px; 
        transform: translateY(-50%);
    }

        .logout-button:hover {
            background-color: #d32f2f;
        }
        .section {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 10px;
            flex: 1;
            width: 80%;
        }

        .checkin-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .checkin-button:hover {
            background-color: #45a049;
        }

        .event-list {
            margin-top: 10px;
        }

        .event-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            background-color: #e0e0e0;
            padding: 10px;
            border-radius: 5px;
        }

        .event-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    </style>
</head>
<body>
<header>
    <h1>User Dashboard</h1>
    <%= link_to 'Logout', root_path, class: "logout-button"  %>
</header>

<div class="section">
    <h2>Upcoming Events</h2>
    <div class="event-list">
        <% if @events.present? %>
            <% @events.each do |event| %> 
                <div class="event-item">
                    <div class="event-info">
                        <span>Event Name: <%= event.name %></span>
                        <span>Date: <%= event.date.present? ? event.date.strftime('%m/%d/%y') : "Date not set" %></span>
                    </div>
                    <%= link_to "Check-In", user_checkin_path, class: "checkin-button" %> 
                </div>
            <% end %>
        <% else %>
            <p>No upcoming events.</p>
        <% end %>
    </div>
</div>
<<<<<<< HEAD

<div class="countdown" data-final-countdown-date="<%= @final_countdown_date %>">
  <span class="days"></span> days
  <span class="hours"></span> hours
  <span class="minutes"></span> minutes
</div>

<%= javascript_include_tag 'countdown' %>
=======
<div class="section">
    <h2>Events Attended</h2>
    <%= link_to "View Events Attended", events_attended_path, class: "view-events-button" %>
</div>
>>>>>>> e0040a09a078848cb075caac909ea8337c3de406
</body>
</html>
