<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%= asset_path('user_dash.css') %>">
    <link rel="stylesheet" type="text/css" href="<%= asset_path('countdown.css') %>">
    <title>User Dashboard</title>
</head>
<body>
<header>


    <img src="<%= asset_path('IMG_6562.png') %>" alt="logo" class="logo">
    <p class="title">Volunteers Around the World</p>
    <div class="container">
       
        <nav>
            <ul>
                <li><a href="<%= upcoming_events_path %>">Upcoming Events</a></li>
                <li><a href="<%= events_attended_path %>">Events Attended</a></li>
                <li><a href="<%= user_checkin_path %>">Check In</a></li>
                <% if @current_user && @current_user.isAdmin? %>
                    <li><%= link_to "Admin Dashboard", admin_dashboard_path, class: "user-button" %></li>
                <% end %>
            </ul>
        </nav>
        <%= link_to "Log Out", logout_path, class: "logout-button" %>
    </div>
</header>

<div class="countdown-container">
    <div class="countdown-header">
        <h1>
            <span class="final-word">FINAL</span>
            <span class="event-word">EVENT</span>
            <span class="countdown-word">COUNTDOWN</span>
        </h1>
    </div>

    <div class="countdown" data-final-countdown-date="<%= @final_countdown_date %>">
        <div class="countdown-item">
            <span class="days-label">Days</span>
            <span class="days"></span>
        </div>
        <div class="countdown-item">
            <span class="hours-label">Hours</span>
            <span class="hours"></span>
        </div>
        <div class="countdown-item">
            <span class="minutes-label">Minutes</span>
            <span class="minutes"></span>
        </div>
    </div>
</div>


<%= javascript_include_tag 'countdown' %>
</body>
</html>
