<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="<%= asset_path('checkin.css') %>">
    <link rel="stylesheet" type="text/css" href="<%= asset_path('user_dash.css') %>">
    <title>User Check-In</title>
</head>
<body>
<header>
<img src="<%= asset_path('IMG_6562.png') %>" alt="logo" class="logo">
<p class="title">Volunteers Around the World</p>
<div class="container">


    <nav>
        <ul>
            <li><a href="<%= user_dashboard_path %>">Home</a></li>
            <li><a href="<%= upcoming_events_path %>">Upcoming Events</a></li>
            <li><a href="<%= events_attended_path %>">Events Attended</a></li>
        </ul>
    </nav>
    <%= link_to "Log Out", logout_path, class: "logout-button" %>

</div>
</header>


<div class="section">
    <h2>Check-In for Event</h2>
    <%= form_with model: @user, url: user_checkin_path(@user), method: :post do |f| %>
        <div class="form-group">
            <%= f.label :event_id, 'Select Event' %>
            <%= f.collection_select :event_id, Event.all, :id, :name, prompt: 'Select an Event' %>
        </div>
        <div class="form-group">
            <%= f.label :phone_number, 'Verify Phone Number' %>
            <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
        <%= f.submit "Check-In" %>
        
    <% end %>
</div>

</body>
</html>
