<h1>Create a New Event</h1>

<%= form_with(model: @event, url: events_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="actions">
    <%= form.submit "Create Event" %>
  </div>
  <%= link_to "Back to Admin Dashboard", admin_dashboard_path%>
<% end %>