<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <% if current_user %>
      <%= link_to "Sign out", signout_path %>
    
    <% end %>

    <% if current_user&.is_admin? %>
      <%= link_to "Admin Dashboard", admin_dashboard_user_path(current_user) %>
    <% end %>

    <%= yield %>
  </body>
</html>
